body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
  }

.instruction {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 2rem;
}

#status {
    margin-block-start: 1em;
    margin-block-end: 0em;
}

.playground {
    padding-bottom: 1rem;
    align-items: center;
    justify-content: center;
}

.gameBoard {
    display: grid;
    grid-template-columns: auto auto auto;
}

.box {
    display: flex;
    height: 5rem;
    width: 5rem;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}

.box:hover {
    background-color: lightgrey;
}

.box:active {
    background-color: darkgrey;
}


#box1, #box2, #box4, #box5 {
    border-right: 0.2rem solid darkgrey;
    border-bottom: 0.2rem solid darkgrey;
}

#box7, #box8 {
    border-right: 0.2rem solid darkgrey;
}

#box3, #box6 {
    border-bottom: 0.2rem solid darkgrey;
}

button {
    height: 3rem;
    width: 8rem;
    font-size: 1.5rem;
}

ul {
    padding: 0 0 0 0;
    margin-block-end: 0;
    margin-block-start: 0;
}